@using Microsoft.Ajax.Utilities
@model List<DemoApp.Controllers.RestaurantWaitTime>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            background-color: black;
            color: white;
        }
        table {
            width: 100%;
            font-family: Verdana;
            font-size: 14px;
        }
    </style>
</head>
    <body>
        <table>
            @foreach (var restaurant in Model)
            {
                <tr>
                    <td>@restaurant.Name</td>
                    <td>@string.Format("{0} mins", restaurant.Minutes)</td>
                </tr>
            }
        </table>
        
    </body>
</html>
