@using Microsoft.Ajax.Utilities
@model List<DemoApp.Controllers.RestaurantWaitTime>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            background-color: black;
            color: white;
        }
        table {
            width: 100%;
            font-family: Verdana;
            font-size: 14px;
        }
    </style>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
        var refresh = function(partySize) {
            $(".size").html(partySize);
        }
    </script>
</head>
    <body>
        <p>Showing wait times for <span class="size">1</span> people.</p>
        <table>
            @foreach (var restaurant in Model)
            {
                <tr>
                    <td>@restaurant.Name</td>
                    <td>@restaurant.Minutes<span class="size">1</span> minutes</td>
                </tr>
            }
        </table>
        
    </body>
</html>
